<li><% include partials/_header %></li>
<!--barra de busqueda-->
<hr>
<hr>
<div class="section section-white">
     <div class="container">
          <div class="row">
               <div class="section-title">
                    <h1>Coincidencias de Artistas, Cancion O Letra</h1>
               </div>
               <!--Tabal que muestra los datos-->
               <table class="table table-border table-hover">
                    <thead>
                         <tr>
                              <th>N°</th>
                              <th>Artista</th>
                              <th>Canción</th>
                              <th>Letra</th>
                         </tr>
                    </thead>
                    <tbody>
                         <!--vamos a recorrer los elementos-->
                         <% if(data){ 
                              for(var i=0; i < data.length; i++){ %>
                         <tr>
                              <td><%= i+1 %></td>
                              <td> <a href="<%= data[i].link %>">
                              <%= data[i].name_artistas %> </a></td>
                              <td><%= data[i].name_canciones %></td>
                              <td><%= data[i].letra %></td>
                         </tr>
                         <%  } if(data.length < 1) {%>
                              <div class="alert alert-warning" role="alert">
                                  Sin coincidencias para artistas
                              </div>
                         <%  } %>
                         <%  } %>
                         <!--Asi le llame en customercontroler.js-->
                    </tbody>
               </table>
          </div>
          </div>
     </div>
</div>